doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title &#x645;&#x631;&#x62D;&#x628;&#x627; &#x628;&#x643; &#x641;&#x64A; &#x645;&#x635;&#x631;
  link(rel='shortcut icon' href='https://i.ibb.co/hH7gKpj/logotest-removebg-preview.png' type='image/x-icon')
  link(rel='stylesheet' href='Style/main.css')
  link#pageStyle(rel='stylesheet' href='Style/home.css')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100;300;500;800&display=swap' rel='stylesheet')
// Start Nav
.container
  nav
    ul
      li#home
        a(href='#') &#x627;&#x644;&#x645;&#x646;&#x632;&#x644;
      li#login
        a(href='./admins.html') &#x633;&#x62C;&#x644; &#x643;&#x645;&#x634;&#x631;&#x641;
      li#look
        a(href='./all.html') &#x62A;&#x635;&#x641;&#x62D; &#x627;&#x644;&#x622;&#x62B;&#x627;&#x631;
      // <li></li>
// End Nav
// Start Preload
.preloader
  img(src='https://i.ibb.co/hH7gKpj/logotest-removebg-preview.png')
  h2 &#x645;&#x631;&#x62D;&#x628;&#x627; &#x628;&#x643; &#x641;&#x64A; &#x645;&#x635;&#x631;
// End Preload
main#homePage
  // Start Header
  #gallary.container
    header.sliderr
  // End Header
  // Start Some Monuments
  #bgr.container
    section.galary
  // End Some Monuments
script(src='https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js')
script(src='https://www.gstatic.com/firebasejs/8.3.1/firebase-database.js')
script(src='./main.js')
script(src='./home.js')
