$color_1: #e14441;
$color_2: #fff;
$color_3: #000;
$color_4: inherit;
$color_5: #ea311b;
$background-color_1: transparent;
$background-color_2: #fff;
$border-color_1: rgba(0, 0, 0, .6);

@keyframes wave {
	0% {
		transform: scale(.2);
	}
	100% {
		transform: scale(1);
	}
}
.data {
	article {
		background-repeat: no-repeat;
		position: relative;
		background-size: cover;
		width: 100%;
		background-position: center;
	}
}
body {
	main {
		background-repeat: no-repeat;
		position: relative;
		background-size: cover;
		width: 100%;
		background-position: center;
		justify-content: center;
		display: flex;
		align-items: center;
		flex-direction: column;
		background-image: url(https://i.ibb.co/S39rFfC/massjed-ebn-tolon-900x473.jpghttps://i.ibb.co/khGJ1Gc/13.jpg);
		min-height: 100vh;
	}
}
div {
	&:has(#checkbox) {
		display: flex;
		align-items: center;
		z-index: 6;
	}
}
label {
	display: flex;
	cursor: pointer;
	align-items: center;
	z-index: 6;
	margin: 0;
}
p {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	font-size: 1rem;
	text-align: center;
	align-items: center;
	z-index: 6;
	&:last-of-type {
		&:not(:first-of-type) {
			color: $color_1;
		}
	}
}
.loading.active {
	justify-content: center;
	display: flex;
	align-items: center;
	width: 50%;
	flex-direction: column;
	height: 50%;
	position: fixed;
	box-sizing: content-box;
	margin: auto;
	z-index: 234567;
	border-radius: 40px;
	background-color: $background-color_2;
	color: $color_3;
	padding: 40px;
	span {
		justify-content: center;
		display: flex;
		align-items: center;
		span {
			width: 5px;
			height: 100px;
			background: #000;
			margin: 8px;
			animation: .4s linear infinite alternate wave;
			border-radius: 20px;
			transform: scale(0);
			animation-delay: calc(var(--order)* .15s);
		}
	}
}
.logged.active {
	justify-content: center;
	display: flex;
	align-items: center;
	width: 50%;
	flex-direction: column;
	height: 50%;
	color: $color_2;
	padding: 30px;
	min-width: 300px;
	#methods {
		justify-content: center;
		display: flex;
		align-items: center;
		display: block;
		margin: 30px 0 0;
		padding: 0;
		flex-direction: column;
		list-style-type: none;
		li {
			cursor: pointer;
			box-sizing: content-box;
			text-align: center;
			padding: 5px 10px;
			width: 70%;
			min-width: 150px;
			max-width: 350px;
			border-radius: 20px;
			transition: .5s;
			margin: 5px;
			border: 1px solid rgba(255, 255, 255, .4);
			&:hover {
				color: $color_3;
				background-color: $background-color_2;
				border-color: $border-color_1;
			}
		}
		a {
			color: $color_4;
			text-decoration: none;
		}
	}
}
form {
	justify-content: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 400px;
	>* {
		min-width: 300px;
		width: 40vw;
		font-size: .6rem;
		padding-right: 10px;
		height: 40px;
		max-width: 600px;
		border: none;
		border-radius: 20px;
	}
	> {
		&:focus {
			outline: 0;
		}
	}
}
input {
	&:not([type=checkbox]) {
		justify-content: center;
		display: flex;
	}
	align-items: center;
	z-index: 6;
}
#checkbox {
	cursor: pointer;
	width: 30px;
	height: 30px;
}
.return {
	cursor: pointer;
}
input[type=submit] {
	cursor: pointer;
	transition: .5s ease-in-out;
	font-weight: 700;
	border: 1px solid transparent;
	&:hover {
		background-color: $background-color_1;
		color: $color_2;
		border: 1px solid #fff;
	}
}
.logged {
	z-index: 6;
}
#methods {
	display: none;
}
.loading {
	display: none;
}
.addError {
	color: $color_5;
}
.container#gg {
	flex-direction: column;
	margin-top: 80px;
}
