.slidee h2,
.slidee p {
  z-index: 200;
  text-align: center;
}

.container#gallary,
.galary article {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  width: 100%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  margin-bottom: 20px;
}

.slidee {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slidee h2 {
  font-size: 3rem;
  margin: 0 50px;
}

.galary {
  display: -ms-grid;
  display: grid;
  gap: 40px;
  padding: 30px;
  background-color: #e8e1d7;
  grid-template-columns: repeat(3, 1fr);
}

.galary article {
  position: relative;
  overflow: clip;
  z-index: 85;
  width: 100%;
  border-radius: 15px;
  height: 600px;
}

.galary article h2 {
  position: absolute;
  font-size: 1.3rem;
  padding-right: 30px;
  bottom: 0;
}

.galary article p {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  position: relative;
  bottom: 0;
  width: 80%;
  line-height: 30px;
  font-size: 0.5rem;
  margin: 0;
  padding: 20px;
  right: -100%;
  top: 10%;
}

.galary article:hover p {
  right: 10px;
}

@media screen and (max-width: 1400px) and (min-width: 946px) {
  .galary {
    grid-template-columns: repeat(2, 1fr);
  }

  .galary article {
    height: 400px;
  }
}

@media screen and (max-width: 945px) and (min-width: 540px) {
  .galary {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .galary article {
    height: 400px;
  }
}

@media screen and (max-width: 539px) and (min-width: 0px) {
  .galary {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .galary article {
    height: 350px;
  }

  .galary article h2 {
    font-size: 0.8rem;
  }

  .galary article p {
    font-size: 0.4rem;
    padding: 0;
    line-height: 20px;
  }

  .slidee h2 {
    font-size: 1.5rem;
  }
}
