.slidee h2,
.slidee p {
    z-index: 200;
    text-align: center
}

.container#gallary,
.galary article {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

header {
    width: 100%;
    max-height: fit-content;
    margin-bottom: 20px
}

.slidee {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.slidee h2 {
    font-size: 3rem;
    margin: 0 50px
}

.galary {
    display: grid;
    gap: 40px;
    padding: 30px;
    background-color: #e8e1d7;
    grid-template-columns: repeat(3, 1fr)
}

.galary article {
    position: relative;
    overflow: clip;
    z-index: 85;
    width: 100%;
    border-radius: 15px;
    height: 600px
}

.galary article h2 {
    position: absolute;
    font-size: 1.6rem;
    padding-right: 30px;
    bottom: 0
}

.galary article p {
    transition: .5s ease-in-out;
    position: relative;
    bottom: 0;
    width: 80%;
    font-size: .6rem;
    margin: 0;
    padding: 20px;
    right: -100%;
    top: 40%;
    transform: translateY(-50%)
}

.galary article:hover p {
    right: 10px
}

@media screen and (max-width:1400px) and (min-width:946px) {
    .galary {
        grid-template-columns: repeat(2, 1fr)
    }

    .galary article {
        height: 400px
    }
}

@media screen and (max-width:945px) and (min-width:540px) {
    .galary {
        grid-template-columns: 1fr
    }

    .galary article {
        height: 400px
    }
}

@media screen and (max-width:539px) and (min-width:0px) {
    .galary {
        grid-template-columns: 1fr
    }

    .galary article {
        height: 350px
    }

    .galary article h2 {
        font-size: .8rem
    }

    .galary article p {
        font-size: .5rem;
        padding: 0
    }

    .slidee h2 {
        font-size: 1.5rem
    }
}