body>*:not(p) {
    margin-inline: auto;
}


:root {
    color: white;
    font-size: 30px;
}

.container>:not(.overlayer) {
    max-width: 1600px;

}

.container {
    height: fit-content;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;

}

* {
    direction: rtl;
    box-sizing: border-box;
    font-family: 'Noto Kufi Arabic', sans-serif;

}

body {
    margin: 0;
    max-width: 100vw;

}

.overlayer {
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(14, 1, 1, 0.448);
}

nav {
    display: flex;
    background-color: transparent;
    width: 100%;
    
}
.container:has(nav) {
    transition: .5s all ease-in-out;
    z-index: 260;
    position: fixed;

}
.container:has(nav.active) {
    background-color: #fff;
}

nav a {
    color: #fff;
    transition: .5s ease-in-out;
    text-decoration: none;
}

nav.active a {
    color: #000;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;



}

body .preloader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    z-index: 20000;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: column;
}

body .preloader h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 50px;
    margin-inline: 30px;
    color: #000;
}

body .preloader img {
    height: 20%;
    -webkit-animation: preloadAnimation alternate 2s infinite;
    animation: preloadAnimation alternate 2s infinite;
}

body .preloader.loaded {
    display: none;
}

@-webkit-keyframes preloadAnimation {
    to {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
}

@keyframes preloadAnimation {
    to {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
}
#demo {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #f1f1f1;
  }

  .stars {
    position: absolute;
    background: #000000;
    z-index: 8;
    width: 10px;
    height: 3px;
  }
